{% render 'header' %}

<div class="o-container">
  <div class="o-row">
    <div class="o-row__col o-row__col--span-12 o-row__col--span-4@medium">
      <h1>testtiiingg</h1>
      <p>kjjbbjjbkbjb kjbjbkjbjbjk jkbjkjbjbkbj</p>
    </div>
    <div class="o-row__col o-row__col--span-12 o-row__col--span-4@medium">
      <h1>testtiiingg</h1>
    </div>
    <div class="o-row__col o-row__col--span-12 o-row__col--span-4@medium">
      <h1>testtiiingg</h1>
    </div>
  </div>
</div>